<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Heutiges Training
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="noItemText" *ngIf="exerciseList.length == 0">Bitte füge eine Übung hinzu</div>
<ion-list>
  <!-- for Schleife  -->
  <ion-item *ngFor="let item of exerciseList; let i = index">
    <!-- Variable Item rein schreiben -->
    <ion-label>{{ item }}</ion-label>
  <ion-icon name="trash" (click)="deleteItem(i)" slot="end"></ion-icon>
  </ion-item>
</ion-list>
<ion-fab-button class="addButton" (click)="addExercise()">
  <ion-icon name="add"></ion-icon>
</ion-fab-button>
</ion-content>